body {
  background: #f2f9f1;
}
.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 0 30px;
}
a {
  color: #466449;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}
.App-header h1 {
  margin: 30px 0;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  color: #466449;
}
.App-footer {
  margin: 30px 0;
  text-align: center;
  font-size: 14px;
}
