.Meaning h3 {
  font-size: 24px;
  margin: 0 0 10px;
  line-height: 1.5;
}
.Meaning .example {
  font-style: italic;
  color: #70757a;
  line-height: 1.5;
  margin-top: 10px;
}
.Meaning .synonyms {
  margin: 10px 0 0 0;
  padding: 0;
}
.Meaning .synonyms ul {
  padding: 0;
  margin: 0;
}
.Meaning .synonyms li {
  display: inline-block;
  opacity: 0.7;
  padding-right: 15px;
}
